@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    font-size: 13px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

body {
    color: hsl(0, 0%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 32px;
    row-gap: 76px;
}

.titlesection {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    row-gap: 16px;
}

.titlesection h1 {
    font-size: 1.5rem;
}

.titlesection p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .1px;
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.subtitle {
    font-weight: 200;
}

.cardsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    place-content: end;
    width: 311px;
    height: 222px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 2px hsl(212, 86%, 64%, .2);
}

.supervisor {
    background-color: hsl(180, 62%, 55%);
}

.teambuilder {
    background-color: hsl(0, 78%, 62%);
}

.karma {
    background-color: hsl(34, 97%, 64%);
}

.calculator {
    background-color: hsl(212, 86%, 64%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 218.45px;
    padding: 28px 32px 32px 32px;
    background-color: white;
}

.card h1 {
    font-size: 20px;
}

.card p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
}

.icon {
    display: flex;
    justify-content: end;
}

.center {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 30px;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1024px) {

    main {
        padding: 80px;
        row-gap: 64px;
        height: 100vh;
    }

    .titlesection {
        width: 540px;
    }

    .titlesection h1 {
        font-size: 2.25rem;
    }

    .cardsection {
        flex-direction: row;
    }

    .card {
        width: 350px;
        height: 255px;
    }

    .container {
        height: 251px;
    }

}